#searchmovie {
	width: 20%;	
	display: none;
}
#searchmovie.pokazi {
	display: inline-block;
}
#genres {
	float: left;
	width: 10%;
}
#movies {
float: right;
text-align: : center;
width: 87%;
	
}
.moviesdispley {
	display: inline-block;
	border: 1px black solid;
	text-align: center;
	background-color: rgb(75, 87, 138);
	border-radius: 10px;
	margin: 2px 0;
	padding: 0;
	width: 22%;
}

.moviesdispley--id {
	visibility: hidden;
}
.moviesdispley:hover {
	cursor: pointer;
}
#movies .link {
	
	list-style-type: none;
}
#movies img {
	margin: 5px auto;
	height: 250px;
	
}

#movie {
	display: none;
	position: fixed;
	text-align: center;
	top: 40px;
	left: 25%;
	background: gray;
	width: 60%;
}
#movie.pokazi {
	display: block;
}
#movie button {
	float: right;
	margin: 10px;
	
}
#movie img {
	height:400px;
}
